
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css');





@media screen and (min-width: 321px) and (max-width: 799px) {
    /*style smartphones et petites tablettes en portrait*/



    .landingTop {

        background-image: url('../images/background.png');
        background-size: cover;
        background-repeat: no-repeat;
    
        height: 100vh;
    
        /* display: flex;
        flex-direction: row; */
    
    }







}


body {

    width: 100%;
    margin: 0;

}


.landingTop {

    background-image: url('../images/background.png');
    background-size: cover;

    height: 100vh;

    /* display: flex;
    flex-direction: row; */

}














.infoTop {

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: flex-start;

    padding-top: 5vh;

    margin-left: 15vw;
}

.infoTop img {

    width: 100px;
    height: 72px;

}

.infoTop p {
    
    color: #ffffff;
    
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    font-weight: 300;

    margin-left: 20px;

}

.infoTop i {
    
    font-size: 25px;


}

#map {

    display: flex;
    flex-direction: row;

    align-items: center;

    margin-left: 150px;


}

.map {

    color: #F2BC1B;

}

#phone {

    display: flex;
    flex-direction: row;

    align-items: center;

    margin-left: 150px;

}

.phone {

    color: #F2BC1B;

}












.firstPart {

    width: 32vw;
    height: 100vh;

    margin-left: 15vw;
    margin-top: 70px;

    display: flex;
    flex-direction: column;    

}


.firstPart h1 {
    
    color: #ffffff;
    
    font-family: 'Oswald', sans-serif;
    font-size: 90px;
    font-weight: 500;

}

.firstPart hr {
    
    border: 2px solid #ffffff;
    width: 319px;

    opacity: 1;

}

.firstPart h3 {
    
    color: #ffffff;
    
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    font-weight: 400;

    margin-top: 5px;

}

.firstPart a {

    color: #F2BC1B;

    font-family: 'Oswald', sans-serif;

}

.firstPart p {

    color: #F2BC1B;

    font-family: 'Oswald', sans-serif;

}

.firstPart form {

    display: flex;
    flex-direction: column;

}


.email {

    width: 462px;

    padding-left: 75px;

    
    margin-bottom: 7.5px;

    border: 0px solid;
    border-radius: 55px;

}

.emailIcon {
    
    margin-left: 20px;

}

#email {
    
    background-color: #ffffff;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;

}

.firstPart form input {

    
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    font-weight: 500;
    
    width: 462px;

    margin-top: 7.5px;

    border: 0px solid;
    border-radius: 55px;

    background-color: #F2BC1B;

}









.info {

    display: flex;
    flex-direction: column;

    justify-content: center;

    text-align: center;

    height: 450px;

    background: white;

}

.info h3 {

    font-family: 'Oswald', sans-serif;
    font-size: 50px;

    margin-top: -25px;
    margin-bottom: 75px;

}


.advantages {

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    
}

.advantages i {
    
    font-size: 40px;
    
    color: #F2BC1B;
    
    text-align: center;
}

.advantages img {

    width: 25px;
    height: 25px;

}


.advantages h5 {

    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    font-weight: 500;

    margin-top: 5px;
    margin-bottom: 0px;

}

.advantages p {

    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 30px;

    margin-top: 0px;

}









.coachPart {

    background-image: url('../images/background2.png');
    background-size: cover;
    background-repeat: no-repeat;

    height: 100vh;

    display: flex;
    align-items: center;

}


.coachText {

    width: 32vw;

    margin-left: 7vw;
    margin-top: 70px;

    display: flex;
    align-content: center;

    flex-direction: column;

}


.coachText h1 {
    
    color: #ffffff;
    
    font-family: 'Oswald', sans-serif;
    font-size: 90px;
    font-weight: 500;

}

.coachText hr {
    
    border: 2px solid #ffffff;
    width: 319px;

    opacity: 1;

}

.coachText h3 {
    
    color: #ffffff;
    
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    font-weight: 400;

    margin-top: 5px;

}